@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap);
*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Verdana, Tahoma, sans-serif;
}
body{
    background: hwb(234 11% 56%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    width: 65%;
    background-color: white;
    display: flex;
    gap: 10%;
    align-items: flex-end;
    padding: 7% 4%;
    border-radius: 2%;
}
.hangman-box img{
    max-width: 200vh;
}
.hangman-box h1{
    font-size: 1.45rem;
    margin-top:10%;
    text-align: center;
    text-transform: uppercase;
}
.word-display{
    display: flex;
    gap:5%;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.word-display .letter{
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid black;

}
.word-display .letter .guessed{
    border-color: transparent;
    margin:-40px 0 35px;
}
.game-box h4{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 600;
}
.game-box .guesses-text b {
    color:rgb(216, 1, 1);
}
.game-box .keyboard{
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%;
}

.keyboard button , .game-result button {
    color: white;
    font-size:1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    padding: 7px;
    border: none;
    background-color: rgb(90, 90, 90);
    border-radius: 10%;
    text-transform: uppercase;
    width: calc(100%/9-5px);
    margin-top:2%;
}
.keyboard button:hover , .game-result button:hover{
    background-color:hwb(234 11% 56%) ;
}
.keyboard button[disabled]{
    opacity: 0.6;
    pointer-events: none;
}
.line2{
    
    margin-left: 7%;
}
.line3{
    
    margin-left: 16%;
}
.game-model{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    transition: opacity 0.4s ease;
}
.game-model.show {
    opacity: 1;
    pointer-events: auto;
}
.game-model .content{
    background: white;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 5%;
    padding: 30px;
}

.game-model img{
    max-width: 130px;
    margin-bottom: 30px;
}
.game-model h4{
    font-size: 1.50rem;
}
.game-model p{
    font-size: 1.15rem;
    margin:15px 0 30px;
    font-weight: 500;
}

.game-model p b{
    color: hwb(234 11% 56%);
    font-weight: 500;
}
.game-model button{
    padding: 12px 23px;
}

@media(max-width:782px){
    .container{
        flex-direction:column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img{
        max-width: 200px;
    }
    .hangman-box h1{
        display: none;
    }
}